<html>
<head>
    <title>Create user</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    {% if user_created %}
    <div>USER CREATED</div>
    {% endif %}
    <div>
        <Button type="button" onclick="window.location.href='{{url_for('view_users')}}'">View users</Button>
    </div>

    <form method="POST" action="http://localhost:8000/users">
        <div>
            <input type="text" required placeholder="name" name="name" value="{{name}}" class="form-control">
        </div>
        <div>
            <input type="text" required placeholder="email" name="email" value="{{email}}" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>
