<html>
<head>
    <title>Current employee locations</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div>
    <table style="width:100%", border="1">
        <thead>
              <th>Email</th>
              <th>City</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Position reported at</th>
           </thead>
           <tbody>
               {%for employee in employees%}
               <tr>
                    <td>{{employee.email}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.coordinates.lat}}</td>
                    <td>{{employee.coordinates.lat}}</td>
                    <td>{{employee.reported_at}}</td>
               </tr>
           {% endfor %}
           </tbody>
    </table>
</div>

<div>
    <Button type="button" onclick="window.location.href='{{url_for('home')}}'">Update my location</Button>
</div>
</body>
</html>
