<html>
<head>
    <title>Create user</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <Button type="button" onclick="window.location.href='{{url_for('create_user', _method='POST')}}'">Create user</Button>
    </div>
    <div>

        <ol>
            {%for user in users%}
                <li>
                    Name: {{user["name"]}}
                    email: {{user["email"]}}
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>
